.BACKUP.
.BASE.
.LOCAL.
.REMOTE.
BACKUP.txt
BASE.txt
LOCAL.txt
REMOTE.txt
"Extras - Images/"
.openpipes/scripts/cria_Alvos_Obsidian.sh
.openpipes/scripts/cria_Vulnerabilidades.sh
.openpipes/scripts/visualization
.openpipes/scripts/identities_manager.sh
.openpipes/scripts/openpipes_orchestrator.sh